<nav>
  <ul>
    <li><a href="/" title="Home page">Home</a></li>
    <li><a href="/inv/type/classics" title="Classic vehicles">Classics</a></li>
    <li><a href="/inv/type/sports" title="Sports vehicles">Sports</a></li>
    <li><a href="/inv/type/suv" title="SUV vehicles">SUV</a></li>
    <li><a href="/inv/type/trucks" title="Trucks">Trucks</a></li>
    <li><a href="/inv/type/sedans" title="Sedans">Sedans</a></li>
  </ul>
</nav>